.leftHalf{
    position: absolute;
    left: 0px;
    margin-top: 110px;
}

.image-container{
    width: 110%;
    align-items: center
}

.rightHalf{
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    
}
